<!doctype html>
<html data-ng-app="laterooms-kata">
    <head>
        <title>LateRooms Front-end Kata</title>
        <link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body data-ng-controller="MainController as main">
        <div id="container">
            <div class="search-area">
                <input type="search" data-ng-model="main.searchTerm" placeholder="Enter a hotel facility..." />
            </div>
            <div class="results-view">
                <div data-ng-repeat="hotel in main.data">
                    <div>Name: {{ hotel.Name }}</div><div>StarRating: {{ hotel.StarRating }}</div><div>Facilities: {{ hotel.Facilities }}</div>
                </div>
            </div>
        </div>

        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.min.js"></script>

        <script src="scripts/app.module.js"></script>
        <script src="scripts/controllers/main.controller.js"></script>
    </body>
</html>